.bg-overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease,opacity 0.5s ease;
}
.bg-overlay-open{
    visibility: visible;
    opacity: 1;
}
.modal{
    width: 50%;
    margin: 0 auto;
    background-color: #fcfcfc;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.8s ease,visibility 0.4s ease,opacity 0.4s ease;
}
.modal-open{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.modal-title{
    font-size: 32px;
    font-weight: 700;
    padding: 5px 0px;
    color: #fff;
    background-color: #003366;
    text-align: center;
    position: relative;
}
.modal-content{
    font-size: 20px;
    font-weight: 400;
    padding: 15px 20px;
    text-align: justify;
}
.modal-close{
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    color: #003366;
    background-color: #fcfcfc;
    position: absolute;
    top: -20px;
    right: -20px;
}